<!DOCTYPE html>

<html ng-app="DashPlayer" lang="en">

    <head>

		<meta charset="utf-8"/>
		<title>(^_^)~ VR PLAYER ~(^_^)</title>

		<script src="app/lib/jquery/jquery-3.1.1.min.js"></script>

		<script src="app/lib/angular/angular.min.js"></script>
		<script src="app/lib/angular/angular-resource.min.js"></script>
		<script src="app/lib/angular/angular-flot.js"></script>

		<script src="app/lib/bootstrap/js/bootstrap.min.js"></script>

		<script src="app/lib/flot/jquery.flot.min.js"></script>
		<script src="app/lib/flot/jquery.flot.resize.min.js"></script>
		<script src="app/lib/flot/jquery.flot.axislabels.js"></script>

		<script src="app/contrib/cast_sender.js"></script>
		<script src="app/contrib/akamai/controlbar/ControlBar.js"></script>
		
		<script src="./dash.js/dist/dash.all.debug.js"></script>
		<script src="app/main.js"></script>

		<script src="FOVRule.js" class="code"></script>
		<script src="MyThroughputRule.js" class="code"></script>
		<script src="HighestBitrateRule.js" class="code"></script>
		<script src="FOVContentRule.js" class="code"></script>

		<link rel="stylesheet" href="app/lib/bootstrap/css/bootstrap.min.css">
		<!-- <link rel="stylesheet" href="app/lib/bootstrap/css/bootstrap-theme.css"> -->
		<!-- <link rel="stylesheet" href="app/lib/bootstrap/css/bootstrap-glyphicons.css"> -->
		<link rel="stylesheet" href="app/css/main.css">
		<!-- <link rel="stylesheet" href="app/contrib/akamai/controlbar/controlbar.css"> -->

		<script>
			//// TODO:
			// 1. Total QoE / Viewer's QoE / Content-based QoE -- Xu Yutong/Feng Fangzheng (Almost)
			// 2. Content-based ABR -- Feng Fangzheng (V1_OFFLINE)
			// 3. Popularity-based ABR (MEC later) -- Li Jinxi (V1_OFFLINE)
			// 3. Aframe assets on demands
			// 4. Tiles sync -- Feng Fangzheng (DONE)
			// 5. ERP to CMP optimization -- Li Jinxi
			// 6. Rendering
			// 7. Visual UI -- Gao Nianzhen (DONE)
			// 8. QUIC/WebRTC -- Chen Jiaxi
			// 9. MEC
			// 10. Audio codec
		</script>

		<style>
			body {
				background-color: #ffffff;
				min-width: 1000px;
				overflow-x: hidden;
			}
			table {
				border-collapse: collapse;
			}
			table, th, td {
				border: 1px solid black;
				padding-left: 5px;
				padding-right: 5px;
				text-align: center;
			}
		</style>
		
	</head>
	
    <body ng-controller="DashController">

		<iframe id="frame" width="1000" height="500"></iframe>

		<div style="height: 22px; width: 500px; margin: 15px;">
			<button id="Reset" style="display: none;" onclick="location.reload();">Reset</button>
			<button id="Link" ng-click="json != '' ? openJSON(json) : openURLs(url);">Link</button>			
			<button id="Render" style="display: none;" ng-click="aframe_init();">Render</button>
			<button id="Load" style="display: none;" ng-click="initial();">Load</button>
			<button id="Play" style="display: none;" ng-click="play_all();">Play</button>
			<button id="Pause" style="display: none;" ng-click="pause_all();">Pause</button>
		</div>
		
		<div style="color: #000000; height: 250px; font-size: 14px; margin: 15px;">
			<br>JSON(Empty then use the URLs below):<br>
			<input id ="json" ng-model="json" style="height: 20px; width: 800px;">			
			<br>URL(Used when JSON is empty):<br>
			<input id ="url" ng-model="url" style="height: 100px; width: 800px;">
			<br>
			<select id="type" ng-model="type" ng-change="VOD_LIVE(type);">
				<option value ="LVOD" selected>LVOD</option>
				<option value ="SVOD">SVOD</option>
				<option value ="LIVE">LIVE</option>
				<option value ="BUNNY">BUNNY</option>
			</select>
			<select id="rule">
				<option value ="FOVRule">FOVRule</option>
				<!-- <option value ="ThroughputRule">ThroughputRule</option>  -->
				<option value ="HighestBitrateRule">HighestBitrateRule</option>
				<option value ="FOVContentRule">FOVContentRule</option>
				<option value ="DefaultRule">DefaultRule</option>
			</select>
			<br>
			<span id="stats" style="display: none; width: 300px; position: absolute; top: 10px; right: 10px; background-color: whitesmoke;">Monitor Loaded.</span>
		</div>

		<div id="captures" style="width: 768px; margin: 15px;"></div>
		<div id="statstable" style="margin: 15px;">
			<table>
				<thead>
					<tr>
						<th>Normalized Time</th>
						<th>Total Throughput</th>
						<th>Total QoE</th>
						<th>Viewer's QoE</th>
						<th>Content-based QoE</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<br>
			<table>
				<thead>
					<tr>
						<th>Player ID</th>
						<th>Buffer Level</th>
						<th>Average Throughput</th>
						<th>Timeline</th>
						<th>Quality</th>
						<th>FOV Score</th>
						<th>Content Score</th>
						<th>Total loaded Time</th>
						<th>Catchup State</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- CHARTING -->
		<div class="chart-panel">
			<div class="chart-controls">
				<div class="btn-group">
					<button id="disable-chart-btn" class="btn btn-primary" ng-click="clearchartData_quality()" ng-cloak>Clear
					</button>
				</div>
				<div id="legend-wrapper" class="legend-row">
				</div>

			</div>
			<div id="chart-wrapper">
				<span style="text-align:center;display:block;">VIDEO_QUALITY</span>
				<div class="chart-inventory">
					<flot dataset="chartData_quality" options="chartOptions"></flot>
				</div>
				<span style="text-align:center;display:block;">VIDEO_BUFFER</span>
				<div class="chart-inventory">
					<flot dataset="chartData_buffer" options="chartOptions"></flot>
				</div>
				<span style="text-align:center;display:block;">VIDEO_THROUGHPUT</span>
				<div class="chart-inventory">
					<flot dataset="chartData_throughput" options="chartOptions"></flot>
				</div>
			</div>
		</div>
        
	</body>
	
</html>